<!DOCTYPE HTML>

<html>
  <body>
    <h1>change password</h1>
    <p th:each="error : ${erreurs}"
       th:text="${error}"/>
    </p>
    <form action="" method="POST" enctype="utf8">
      <div>
	<label>username</label>
	<input name="username" th:value="${username}"/>
      </div>
      <div>
	<label>password</label>
	<!--input type="password" th:field="*{password}"/-->
	<input type="password" name="password"/>
      </div>
      <div>
	<label>new password</label>
	<input type="password" name="new-password"/>
      </div>
      <div>
	<label>confirm password</label>
	<input type="password" name="repeat-new-password"/>
      </div>
      <button type="submit">submit</button>
    </form>

  </body>
</html>
