<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>

<h2>404 - Stranica ne postoji</h2>

<p th:text="${error}">Error Info</p>
<p th:text="${status}">Status</p>

</body>
</html>
