<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>401</title>
</head>
<body>

  <h2>401 - Niste autorizovani</h2>

  <p>Pogrešno korisničko ime ili lozinka</p>

  <button onclick="window.history.back()">Nazad</button>
  <p th:text="${error}">Error Info</p>
  <p th:text="${status}">Status</p>

</body>
</html>
