<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>login</title>
    <!-- styles ?-->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <!--form action='/welcome' method='post'-->
    <form action='' method='post'>
      <!--div class='imgcontainer'>
	<img src='img_avatar2.png' alt='Avatar' class='avatar'>
      </div-->
      <div class='container'>
	<div th:each="error : ${erreurs}"
	     th:text="${error}"/>
	<label for='username'><b>Username</b></label>
	<input type='text' th:value="${username}" placeholder='Enter Username' name='username' required>
	<label for='password'><b>Password</b></label>
	<input type='password' placeholder='Enter Password' name='password' required>
	<button type='submit'>Login</button>
	<label>
	  <input type='checkbox' checked='checked' name='remember'> Remember me
	</label>
      </div>
      <!--div class='container' style='background-color:#f1f1f1'>
	<button type='button' class='cancelbtn'>Cancel</button>
	<span class='psw'>Forgot <a href='#'>password?</a></span>
      </div-->
    </form>
  </body>
</html>
