
<!--!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello !<title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body-->
  <div th:each="reqParam: ${reqParams}">
    <p th:text="'parameter ' + ${reqParam.key} + ' : ' + ${reqParam.value}"/>
  </div>
<!--/body>
</html-->
