
<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="'Hello ' + ${username}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <script th:inline="javascript">

      /*<![CDATA[*/
      (function () {
	  const token = /*[[${token}]]*/ '';
	  const redirect = /*[[${redirect}]]*/ '' ;
	  alert(token)
	  window.sessionStorage.setItem('token' , token)
	  // window.location.replace("../");
	  window.location.replace(redirect);
      }) ()
      /*]]>*/
    </script>
</body>
</html>
