
<!DOCTYPE HTML>  

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Hello ' + ${name}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + ' !'" />
    <p th:text="'Have a token of JSON : ' + ${token}"/>

    <form id="redirect-form" th:action="${redirect}" method="post">
      <input type="hidden" id="token" name="token" th:value="${token}">
    </form>
    <script th:inline="javascript">

      /*<![CDATA[*/
      window .onload = function () {
	  window .setTimeout(function(){
	      const token = /*[[${token}]]*/ '';
	      const redirect = /*[[${redirect}]]*/ '' ;
	      alert(token)
	      alert(redirect)
	      document .forms ['redirect-form'] .submit ()
	      // window .location .replace (redirect)
	  },3000)
      }
      /*]]>*/

    </script> 
</body>
</html>
